/*
  Basic latin chars
  http://www.unicode.org/charts/PDF/U0000.pdf
  http://www.unicode.org/charts/PDF/U2000.pdf (small subset)

  Latin Extended
  http://www.unicode.org/charts/PDF/U0100.pdf
  http://www.unicode.org/charts/PDF/U20A0.pdf

  Latin Extended 2
  http://www.unicode.org/charts/PDF/U1E00.pdf
*/

@font-face {
  font-display: block;
  font-family: "IBM Plex Sans";
  font-style: normal;
  src: url("fonts/IBMPlexSans-Regular-Latin1.woff") format("woff"),
    url("fonts/IBMPlexSans-Regular-Latin1.woff2") format("woff2");
  font-weight: 400;
  unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00A3, U+00A4-00FF, U+0131,
    U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E,
    U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+2074, U+20AC, U+2122,
    U+2212, U+FB01-FB02;
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Sans";
  font-style: normal;
  src: url("fonts/IBMPlexSans-Regular-Latin2.woff") format("woff"),
    url("fonts/IBMPlexSans-Regular-Latin2.woff2") format("woff2");
  font-weight: 400;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF,
    U+2C60-2C7F, U+A720-A7FF, U+FB01-FB02;
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Sans";
  font-style: normal;
  src: url("fonts/IBMPlexSans-Regular-Latin3.woff") format("woff"),
    url("fonts/IBMPlexSans-Regular-Latin3.woff2") format("woff2");
  font-weight: 400;
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-display: block;
  font-family: "IBM Plex Sans";
  font-style: normal;
  src: url("fonts/IBMPlexSans-Medium-Latin1.woff") format("woff"),
    url("fonts/IBMPlexSans-Medium-Latin1.woff2") format("woff2");
  font-weight: 500;
  unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00A3, U+00A4-00FF, U+0131,
    U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E,
    U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+2074, U+20AC, U+2122,
    U+2212, U+FB01-FB02;
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Sans";
  font-style: normal;
  src: url("fonts/IBMPlexSans-Medium-Latin2.woff") format("woff"),
    url("fonts/IBMPlexSans-Medium-Latin2.woff2") format("woff2");
  font-weight: 500;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF,
    U+2C60-2C7F, U+A720-A7FF, U+FB01-FB02;
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Sans";
  font-style: normal;
  src: url("fonts/IBMPlexSans-Medium-Latin3.woff") format("woff"),
    url("fonts/IBMPlexSans-Medium-Latin3.woff2") format("woff2");
  font-weight: 500;
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Sans";
  font-style: italic;
  src: url("fonts/IBMPlexSans-Italic-Latin1.woff") format("woff"),
    url("fonts/IBMPlexSans-Italic-Latin1.woff2") format("woff2");
  font-weight: 400;
  unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00A3, U+00A4-00FF, U+0131,
    U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E,
    U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+2074, U+20AC, U+2122,
    U+2212, U+FB01-FB02;
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Sans";
  font-style: italic;
  src: url("fonts/IBMPlexSans-Italic-Latin2.woff") format("woff"),
    url("fonts/IBMPlexSans-Italic-Latin2.woff2") format("woff2");
  font-weight: 400;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF,
    U+2C60-2C7F, U+A720-A7FF, U+FB01-FB02;
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Sans";
  font-style: italic;
  src: url("fonts/IBMPlexSans-Italic-Latin3.woff") format("woff"),
    url("fonts/IBMPlexSans-Italic-Latin3.woff2") format("woff2");
  font-weight: 400;
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Sans";
  font-style: italic;
  src: url("fonts/IBMPlexSans-MediumItalic-Latin1.woff") format("woff"),
    url("fonts/IBMPlexSans-MediumItalic-Latin1.woff2") format("woff2");
  font-weight: 500;
  unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00A3, U+00A4-00FF, U+0131,
    U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E,
    U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+2074, U+20AC, U+2122,
    U+2212, U+FB01-FB02;
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Sans";
  font-style: italic;
  src: url("fonts/IBMPlexSans-MediumItalic-Latin2.woff") format("woff"),
    url("fonts/IBMPlexSans-MediumItalic-Latin2.woff2") format("woff2");
  font-weight: 500;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF,
    U+2C60-2C7F, U+A720-A7FF, U+FB01-FB02;
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Sans";
  font-style: italic;
  src: url("fonts/IBMPlexSans-MediumItalic-Latin3.woff") format("woff"),
    url("fonts/IBMPlexSans-MediumItalic-Latin3.woff2") format("woff2");
  font-weight: 500;
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-display: block;
  font-family: "IBM Plex Mono";
  font-style: normal;
  src: url("fonts/IBMPlexMono-Regular-Latin1.woff") format("woff"),
    url("fonts/IBMPlexMono-Regular-Latin1.woff2") format("woff2");
  font-weight: 400;
  unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00A3, U+00A4-00FF, U+0131,
    U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E,
    U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+2074, U+20AC, U+2122,
    U+2212, U+FB01-FB02;
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: normal;
  src: url("fonts/IBMPlexMono-Regular-Latin2.woff") format("woff"),
    url("fonts/IBMPlexMono-Regular-Latin2.woff2") format("woff2");
  font-weight: 400;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF,
    U+2C60-2C7F, U+A720-A7FF, U+FB01-FB02;
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: normal;
  src: url("fonts/IBMPlexMono-Regular-Latin3.woff") format("woff"),
    url("fonts/IBMPlexMono-Regular-Latin3.woff2") format("woff2");
  font-weight: 400;
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: normal;
  src: url("fonts/IBMPlexMono-Medium-Latin1.woff") format("woff"),
    url("fonts/IBMPlexMono-Medium-Latin1.woff2") format("woff2");
  font-weight: 500;
  unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00A3, U+00A4-00FF, U+0131,
    U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E,
    U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+2074, U+20AC, U+2122,
    U+2212, U+FB01-FB02;
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: normal;
  src: url("fonts/IBMPlexMono-Medium-Latin2.woff") format("woff"),
    url("fonts/IBMPlexMono-Medium-Latin2.woff2") format("woff2");
  font-weight: 500;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF,
    U+2C60-2C7F, U+A720-A7FF, U+FB01-FB02;
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: normal;
  src: url("fonts/IBMPlexMono-Medium-Latin3.woff") format("woff"),
    url("fonts/IBMPlexMono-Medium-Latin3.woff2") format("woff2");
  font-weight: 500;
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

/* Set default font to make sure it's always displayed correctly */
body {
  font-family: "IBM Plex Sans", Arial, sans-serif;
}
